.container {
  width: 800px;
  margin: 0 auto;
  line-height: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.display-flex {
  display: flex;
}

.column-full {
  flex-direction: column;
  flex-basis: 100%;
}

.justify-content-center {
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

#day-select {
  width: 15%;
  text-align: center;
  margin: auto;
  padding: 0.2rem;
}

#add-event {
  padding: 0.5rem;
  background-color: #6c747b;
  color: white;
  border-radius: 0.2rem;
  border: none;
}

.event-button {
  /* margin-top: 1rem; */
  width: 15%;
  margin: 3rem auto 1rem;
  text-align: center;
}

th {
  background-color: white;
  text-align: left;
}

tr:nth-child(odd) {
  background-color: rgb(222, 222, 222);
}

table {
  border: solid 2px rgb(222, 222, 222);
  width: 100%;
}

p {
  font-size: 0.7rem;
}

.modal-content {
  display: flex;
  flex-direction: column;
  padding: 45px;
  border-radius: 4px;
  border-style: none;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  text-align: left;
}

.modal-box {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
}

.modal-content > select,
textarea {
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.modal-content > select:hover,
textarea:hover {
  border: #c3dafc 1px solid;
  transition: 0.5s ease;
}

#cancel {
  background-color: #6c757c;
  color: white;
}

#cancel:hover {
  box-shadow: 4px 4px 4px red;
  color: red;
  transition: 0.5s ease;
  background-color: white;
  border: 2px red solid;
}

#confirm {
  background-color: #1b8756;
  color: white;
}

#confirm:hover {
  background-color: white;
  border: solid 2px #1b8756;
  color: #1b8756;
  box-shadow: 4px 4px 4px #1b8756;
  transition: 0.5s ease;
}

#add-event:hover {
  background-color: white;
  border: solid 2px #106efe;
  color: #106efe;
  box-shadow: 4px 4px 4px #106efe;
  transition: 1s ease;
}

.overlay {
  background: rgba(0, 0, 0, 0.8);
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hidden {
  display: none;
}

.edit {
  margin-left: 5rem;
  background-color: #106efe;
  color: white;
}

.edit:hover {
  text-decoration: underline;
}

.delete {
  margin-left: 7rem;
  background-color: #dc3744;
  color: white;
}

.delete:hover {
  text-decoration: underline;
}
