.container {
  width: 800px;
  margin: 0 auto;
  line-height: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.display-flex {
  display: flex;
}

.column-full {
  flex-direction: column;
  flex-basis: 100%;
}

.justify-content-center {
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

#day-select {
  width: 15%;
  text-align: center;
  margin: auto;
  padding: 0.2rem;
}

#add-event {
  padding: 0.5rem;
  background-color: #6c747b;
  color: white;
  border-radius: 0.2rem;
  border: none;
}

.event-button {
  /* margin-top: 1rem; */
  width: 15%;
  margin: 3rem auto 0;
  text-align: center;
}

th {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: rgb(222, 222, 222);
}

table {
  border: solid 2px rgb(222, 222, 222);
  width: 100%;
}
